@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);





#header2-3 H3 {
  font-family: 'Lora', serif;
}
#header2-3 P {
  font-family: 'Lora', serif;
}
#header2-3 B {
  font-size: 18px;
  font-family: 'Lora', serif;
}
#header2-3 STRONG {
  font-family: 'Lora', serif;
}
#header2-3 .btn {
  font-family: 'Lora', serif;
  font-size: 18px;
}







#ext_menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-9 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-9 .close-icon::before,
#ext_menu-9 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-9 .link,
#ext_menu-9 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-9 .link {
  font-size: 1.15rem;
}
#ext_menu-9 .dropdown-item,
#ext_menu-9 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-9 .link:hover,
#ext_menu-9 .dropdown-item:hover,
#ext_menu-9 .link:focus,
#ext_menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-menu {
  background: #343e57;
}
#ext_menu-9 .nav-dropdown-sm .link:focus,
#ext_menu-9 .nav-dropdown-sm .link:hover,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-9 .navbar,
#ext_menu-9 .nav-dropdown-sm,
#ext_menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9 .bg-color.transparent.opened .link:hover,
#ext_menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-9 .btn {
  font-family: 'Lora', serif;
  font-size: 23px;
}
#header3-16 .mbr-section-title,
#header3-16 .mbr-section-subtitle {
  text-align: center;
}
#header3-16 H3 {
  font-family: 'Lora', serif;
  color: #c0a375;
}
#header3-16 SMALL {
  color: #000000;
  text-align: right;
}
#buttons1-17 .btn {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#contacts2-2 STRONG {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 25px;
}
#contacts2-2 P {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
}












#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-0 .link {
  font-size: 1.15rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #343e57;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .btn {
  font-family: 'Lora', serif;
  font-size: 23px;
}
#msg-box5-4 H3 {
  font-family: 'Lora', serif;
  color: #c0a375;
  font-size: 46px;
}
#msg-box5-4 P {
  font-family: 'Lora', serif;
}
#slider2-10 .mbr-section-title,
#slider2-10 .mbr-section-lead {
  color: #fff;
}
#content1-5 P {
  font-family: 'Lora', serif;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  font-family: 'Lora', serif;
  color: #c0a375;
}
#header3-1 SMALL {
  color: #000000;
}
#msg-box3-7 .mbr-section-title,
#msg-box3-7 p {
  color: #000;
}
#msg-box3-7 .mbr-section-title {
  font-family: 'Lora', serif;
  color: #c0a375;
}
#msg-box3-7 .lead P {
  font-family: 'Lora', serif;
}
#msg-box3-7 .btn {
  font-family: 'Lora', serif;
  font-size: 18px;
}
#msg-box3-7 STRONG {
  font-size: undefinedpx;
}
#contacts2-2 STRONG {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 25px;
}
#contacts2-2 P {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
}











#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-0 .link {
  font-size: 1.15rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #343e57;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .btn {
  font-family: 'Lora', serif;
  font-size: 23px;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#header3-13 H3 {
  font-family: 'Lora', serif;
  color: #c0a375;
}
#features3-12 H4 {
  font-family: 'Lora', serif;
}
#features3-12 P {
  font-family: 'Lora', serif;
}
#header3-11 .mbr-section-title,
#header3-11 .mbr-section-subtitle {
  text-align: center;
}
#header3-11 H3 {
  font-family: 'Lora', serif;
  color: #c0a375;
}
#header3-11 SMALL {
  color: #000000;
}
#content6-14 P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #c0a375;
}
#content6-14 UL {
  font-family: 'Lora', serif;
}
#contacts2-2 STRONG {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 25px;
}
#contacts2-2 P {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
}











#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-0 .link {
  font-size: 1.15rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #343e57;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .btn {
  font-family: 'Lora', serif;
  font-size: 23px;
}
#header3-20 .mbr-section-title,
#header3-20 .mbr-section-subtitle {
  text-align: center;
}
#header3-20 H3 {
  font-family: 'Lora', serif;
  color: #c0a375;
}
#header3-20 SMALL {
  color: #000000;
}
#content1-21 P {
  font-family: 'Lora', serif;
}
#content1-21 UL {
  font-family: 'Lora', serif;
}
#content1-21 H3 {
  font-family: 'Lora', serif;
  font-size: 20px;
}
#content1-21 LI {
  font-family: 'Lora', serif;
}
#image2-22 DIV {
  font-family: 'Lora', serif;
}
#contacts2-2 STRONG {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 25px;
}
#contacts2-2 P {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
}
